@charset "UTF-8";
.original-chosen {
  /* @group Base */
  /* @end */
  /* @group Single Chosen */
  /* @end */
  /* @group Results */
  /* @end */
  /* @group Multi Chosen */
  /* @end */
  /* @group Active  */
  /* @end */
  /* @group Disabled Support */
  /* @end */
  /* @group Right to Left */
  /* @end */
  /* @group Retina compatibility */
  /* @end */
}
.original-chosen .chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}
.original-chosen .chosen-container * {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}
.original-chosen .chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.original-chosen .chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.original-chosen .chosen-container a {
  cursor: pointer;
}
.original-chosen .chosen-container .search-choice .group-name, .original-chosen .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.original-chosen .chosen-container .search-choice .group-name:after, .original-chosen .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.original-chosen .chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.original-chosen .chosen-container-single .chosen-default {
  color: #999;
}
.original-chosen .chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.original-chosen .chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.original-chosen .chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
.original-chosen .chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.original-chosen .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.original-chosen .chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.original-chosen .chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0px 2px;
}
.original-chosen .chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.original-chosen .chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #fff url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.original-chosen .chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.original-chosen .chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.original-chosen .chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.original-chosen .chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.original-chosen .chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.original-chosen .chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.original-chosen .chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.original-chosen .chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.original-chosen .chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.original-chosen .chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.original-chosen .chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.original-chosen .chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.original-chosen .chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.original-chosen .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.original-chosen .chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.original-chosen .chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.original-chosen .chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.original-chosen .chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.original-chosen .chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.original-chosen .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.original-chosen .chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.original-chosen .chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}
.original-chosen .chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.original-chosen .chosen-disabled .chosen-single {
  cursor: default;
}
.original-chosen .chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.original-chosen .chosen-rtl {
  text-align: right;
}
.original-chosen .chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.original-chosen .chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.original-chosen .chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.original-chosen .chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.original-chosen .chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.original-chosen .chosen-rtl .chosen-choices li {
  float: right;
}
.original-chosen .chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.original-chosen .chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.original-chosen .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.original-chosen .chosen-rtl.chosen-container-single-nosearch .chosen-search,
.original-chosen .chosen-rtl .chosen-drop {
  left: 9999px;
}
.original-chosen .chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.original-chosen .chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.original-chosen .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.original-chosen .chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: #fff url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}
.original-chosen .chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.original-chosen .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .original-chosen .chosen-rtl .chosen-search input[type="text"],
  .original-chosen .chosen-container-single .chosen-single abbr,
  .original-chosen .chosen-container-single .chosen-single div b,
  .original-chosen .chosen-container-single .chosen-search input[type="text"],
  .original-chosen .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .original-chosen .chosen-container .chosen-results-scroll-down span,
  .original-chosen .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

.fa-bootstrap-chosen {
  /* @group Base */
  /* @end */
  /* @group Single Chosen */
  /* @end */
  /* @group Results */
  /* @end */
  /* @group Multi Chosen */
  /* @end */
  /* @group Active  */
  /* @end */
  /* @group Disabled Support */
  /* @end */
  /* @group Right to Left */
  /* @end */
}
.fa-bootstrap-chosen .chosen-select, .fa-bootstrap-chosen .chosen-select-deselect {
  width: 100%;
}
.fa-bootstrap-chosen .chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fa-bootstrap-chosen .chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fa-bootstrap-chosen .chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid 1px solid #ccc;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
.fa-bootstrap-chosen .chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
  right: 0;
}
.fa-bootstrap-chosen .chosen-container a {
  cursor: pointer;
}
.fa-bootstrap-chosen .chosen-container a:hover {
  text-decoration: none;
}
.fa-bootstrap-chosen .chosen-container .search-choice .group-name, .fa-bootstrap-chosen .chosen-container .chosen-single .group-name {
  margin-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999;
}
.fa-bootstrap-chosen .chosen-container .search-choice .group-name:after, .fa-bootstrap-chosen .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 12px;
  height: 34px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  text-decoration: none;
  white-space: nowrap;
  line-height: 34px;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-default {
  color: #999;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single span {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single-with-deselect span {
  margin-right: 40px;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 0;
  right: 17px;
  display: block;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single abbr:after {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  width: 20px;
  color: #999;
  content: "";
  text-align: center;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single abbr:hover:after {
  color: black;
}
.fa-bootstrap-chosen .chosen-container-single.chosen-disabled .chosen-single abbr:hover:after {
  color: black;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 3px;
  display: block;
  height: 100%;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-single div b:after {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  width: 20px;
  color: #999;
  content: "";
  text-align: center;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 14px 4px 4px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-search:after {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  width: 20px;
  color: #999;
  content: "";
  text-align: center;
  position: absolute;
  right: 2px;
  top: 7px;
}
.fa-bootstrap-chosen .chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-clip: padding-box;
}
.fa-bootstrap-chosen .chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
.fa-bootstrap-chosen .chosen-container-single.chosen-container-single-nosearch .chosen-search input[type="text"] {
  position: absolute;
  left: -9000px;
}
.fa-bootstrap-chosen .chosen-container-single.chosen-container-single-nosearch .chosen-search:after {
  left: -9000px;
}
.fa-bootstrap-chosen .chosen-container .chosen-results {
  color: #555555;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 12px;
  list-style: none;
  line-height: 1.42857143;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #eeeeee;
  cursor: default;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.highlighted {
  background-color: #337ab7;
  background-image: none;
  color: white;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.active-result:last-child.highlighted {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li .no-results {
  color: #777777;
  display: list-item;
  background: #eeeeee;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.group-result {
  display: list-item;
  color: #999;
  font-weight: bold;
  cursor: default;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.fa-bootstrap-chosen .chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: text;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 0;
  padding: 4px 12px;
  height: 32px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 6px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #ccc;
  max-width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #eeeeee;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  line-height: 14px;
  cursor: default;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 2px;
  right: 2px;
  display: block;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  width: 20px;
  color: #999;
  content: "";
  text-align: center;
  width: 14px;
  line-height: 14px;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:after {
  color: black;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #eeeeee;
  color: #555555;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close:hover:after {
  color: black;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.fa-bootstrap-chosen .chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #eeeeee;
  cursor: default;
}
.fa-bootstrap-chosen .chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.fa-bootstrap-chosen .chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.fa-bootstrap-chosen .chosen-container-active.chosen-with-drop .chosen-single div b:after {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  width: 20px;
  color: #999;
  content: "";
  text-align: center;
}
.fa-bootstrap-chosen .chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.fa-bootstrap-chosen .chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222222 !important;
}
.fa-bootstrap-chosen .chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.fa-bootstrap-chosen .chosen-disabled .chosen-single {
  cursor: default;
}
.fa-bootstrap-chosen .chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
.fa-bootstrap-chosen .chosen-rtl {
  text-align: right;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 12px 0 0;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-single-with-deselect span {
  margin-left: 50px;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-single abbr {
  right: auto;
  left: 17px;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-choices li {
  float: right;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 20px;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 2px;
}
.fa-bootstrap-chosen .chosen-rtl.chosen-container-single-nosearch .chosen-search,
.fa-bootstrap-chosen .chosen-rtl .chosen-drop {
  left: 9999px;
}
.fa-bootstrap-chosen .chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.fa-bootstrap-chosen .chosen-rtl.chosen-container-single .chosen-search:after {
  right: auto;
  left: 2px;
}
.fa-bootstrap-chosen .chosen-rtl.chosen-container-single-nosearch .chosen-search:after {
  left: -9999px;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.fa-bootstrap-chosen .chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
